[submodule "beaver"]
	path = submodules/beaver
	url = https://github.com/sociomantic-tsunami/beaver.git
[submodule "makd"]
	path = submodules/makd
	url = https://github.com/sociomantic-tsunami/makd.git
[submodule "ocean"]
	path = submodules/ocean
	url = https://github.com/sociomantic-tsunami/ocean.git
